<%= form_with(model: [@post, @post.comments.build]) do |form| %>
  <br>
  <div class="form-group">
      <%= form.label :comment %>
      <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.submit "Submit a comment", class: "btn btn-primary"  %>
<% end %>